<h1>My Blog</h1>

<% if (posts && posts.length > 0) { %>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post._id %>"><%= post.title %></a>
        <p><%= post.body.substring(0, 100) %>...</p>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No posts yet.</p>
<% } %>









